/* Navbar */
header {
  background-color: #333;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
}

.navbar a.active {
  background-color: #555;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar a {
    flex: 1 0 50%;
    padding: 12px;
  }
}

/*Slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*body*/

body {
	font-family: Arial, Helvetica, sans-serif;
  background-color: #00abb3;
  font-size: large
  }

  .text-block {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
  }
  
  header {
	background-color: #3c4048;
	color: #fff;
	padding: 20px;
  }
  
h2 {
  text-align: center;
}
  
  nav li {
	margin-right: 20px;
      background-color: #eaeaea;
  }
  
  nav a {
    background-color: #00abb3;
  }

  main {
	margin: 20px auto;
	padding: 20px;
  }
  
  section {
	margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    background-color: #b2b2b2;
  }

table {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
  table-layout: fixed;
}

td {
  border: 1px solid;
}
  
li {
list-style-type: square;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  max-width: 65%;
  max-height: auto;
}

.sound_button {
  margin-left: auto;
  margin-right: auto;
  background-color: #00ABB3;
}
  
  footer {
	background-color: #3c4048;
	color: #fff;
	text-align: center;
	padding: 20px;
  }

  .line {
    border-bottom: 1px solid #ece6e6; /* Параметры линии */
}  


  /*acccordian*/

  .accordion {
      background-color: #b2b2b2;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 70%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      margin-left:15%;
  }

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 230px;
    display: none;
    background-color: #eaeaea;
    overflow: hidden;
}